html.mode-window,
html.mode-window body {
  width: 100%;
  height: 100%;
  display: flex;
}
html.mode-window main {
  width: unset;
  height: unset;
  flex: 1;
}

body {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }

  body {
    color: white;
    background-color: var(--cr-card-background-color);
  }
}

main {
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  margin: 12px;
}

section + section {
  margin-top: 12px;
}

button + button {
  margin-left: 12px;
}

.actions,
.languages {
  display: flex;
  align-items: center;
}

.input-container,
.input-container .inner-input-container,
.input-container .inner-input-container textarea {
  height: 100%;
  line-height: 1rem;
}

.source {
  flex: 1;
  position: relative;
}

.target {
  flex: 1.5;
  min-height: 0;
  position: relative;
}

.reverse {
  flex: 1;
  margin-top: 12px;
  min-height: 0;
  position: relative;
}

#lang-source,
#lang-target {
  flex: 1;
  width: 0;
}

#lang-swap {
  margin: -3px 10px -2px 10px;
  width: 30px;
  height: 30px;
}
#lang-swap svg {
  margin-top: 2px;
}

textarea {
  resize: none;
}

.textarea-actions {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 2px;
}

.dictionary-translation {
  font-weight: 500;
}

.part-of-speech {
  font-weight: 600;
  font-style: italic;
  margin-top: 14px;
}

.term {
  display: flex;
  margin-top: 6px;
}

.term-word {
  flex: 42%;
  min-width: 0;
  padding: 0 8px;
}

.term-reverse {
  flex: 58%;
  min-width: 0;
}

.term-reverse-word {
  display: inline;
  color: var(--cr-link-color);
  cursor: pointer;
}

.term-reverse-word:not(:last-child)::after {
  content: ', ';
}

.error-code {
  color: var(--cr-input-error-color);
  font-weight: 600;
}
.error-code::after {
  content: ': ';
}

.error-message {
  color: var(--cr-input-error-color);
}

.translate-page-link {
  display: none;
  float: right;
}
.translate-page-link.available {
  display: block;
}

.tts {
  width: 30px;
  height: 30px;
  color: var(--button-text-color-action);
  opacity: 0.3;
}
.tts svg {
  margin-top: 2px;
}
.tts:hover {
  opacity: 1;
  transition: opacity 400ms;
}
